// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");
@import "variables";
@import "Buttons";


.bg-avatar{
    width: 50px;
    height: 50px;
    background-color: $bg-color-opacity;
    display: grid;
    place-content: center;  
    border-radius: 50%;
}


.card-hover{
    transition: transform 0.2s ease-in-out;
}

.card-hover:hover{
    transform: translateY(-5px);
    border: 2px solid $primary;
    cursor: pointer;
}

.bg-content-custom{
    background-color: $bg-light !important;
    border-radius: 10px;
}

.shadow-custom{
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2);
}

.required-point{
    color: red; 
}


.container-list-custom{
    background-color: $bg-color-opacity;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 500px;
    height: 400px;
    overflow-y: auto;
}

.md-w-custom{
    max-width: 400px !important;
}

.max-w-custom{
    max-width: 1400px !important;
}

/* Iconos de las tablas */ 
.rounded-icon{
    padding: 4px;
    border-radius: 50%;
}


.icon-blue{
background-color: #06285c36;    

}

.icon-blue svg{
    fill: $primary;
}

.icon-green {
background-color: rgba(19, 87, 78, 0.384);    

}

.icon-green svg{
    fill: rgb(19, 87, 78);
}


.info:hover{
    cursor: help;
}