/* Tooltip para el hover en ciertos elementos  */
.tooltip-container {
    position: relative; /*relative: los elementos se posicionan de forma relativa a su posición normal.*/
    display: inline-block;
}

/* Tooltipo sin opacidad */
.tooltip-text2 {
    background-color: #dfdfdf;
    z-index: 500 !important;
}

.tooltip-text {
    background-color: #dfdfdfc5;
    z-index: 210 !important;
}

.tooltip-text,
.tooltip-text2 {
    visibility: hidden;
    width: 150px;
    color: #080808;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;

    top: 115%; /* Posiciona el tooltip bajo del elemento */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:hover .tooltip-text2 {
    visibility: visible;
    opacity: 1;
}

.icons-style {
    padding-right: 5px;
    width: 2rem;
    height: 2rem;
}

.btn-red {
    border: 1.5px solid $red;
}

.btn-primary {
    background-color: $primary !important;
    color: $bg-light !important;
    border: none;
    border-radius: 5px;
}

.nav-pills .nav-link{
    color: $primary;
}

.nav-pills .nav-link.active{
    background-color: $primary;
    color: $bg-light;    
}


/* Estilo base para el botón */
.btn-blue {
    border: 1.5px solid $primary;
}

.btn-sec {
    border: 1.5px solid $blue-sec;
}

/* Estilo base para el botón */
.btn-blue-sec {
    border: 1.5px solid $green-sec;
}

/* Cuando el boton se muestra pero esta inhabilitado */
.disabled {
    opacity: 0.5;
}

/* caso de tener un svg de imagen */
.btn-blue-sec svg,
.btn-red svg,
.btn-blue svg,
.btn-sec svg {
    fill: currentColor; /* Hace que el SVG herede el color del texto */
    transition: fill 0.3s;
}

.btn-cancel {
    color: $red;
    border: 1.5px solid $red;
}

.btn-blue,
.btn-red,
.btn-blue-sec,
.btn-sec {
    color: black; /* Color del texto */
    border-radius: 5px;
    background-color: transparent; /* Fondo transparente */
    padding: 0.5rem; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado */
    transition: color 0.2s, background-color 0.2s; /* Transiciones suaves */
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.btn-blue:hover,
.btn-blue:active {
    color: white; /* Cambiar el color del texto */
    background-color: $primary; /* Cambiar el color de fondo */
}

.btn-sec:hover,
.btn-sec:active {
    color: white; /* Cambiar el color del texto */
    background-color: $blue-sec; /* Cambiar el color de fondo */
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.btn-red:hover,
.btn-red:active {
    color: white; /* Cambiar el color del texto */
    background-color: $red; /* Cambiar el color de fondo */
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.btn-blue-sec:hover,
.btn-blue-sec:active {
    color: white; /* Cambiar el color del texto */
    background-color: $green-sec; /* Cambiar el color de fondo */
}

.btn-blue-sec:hover svg,
.btn-blue-sec:active svg,
.btn-blue:hover svg,
.btn-blue:active svg,
.btn-red:hover svg,
.btn-red:active svg,
.btn-sec:hover svg,
.btn-sec:active svg {
    fill: white; /* Cambiar el color del SVG */
}

.btn-color-login {
    background-color: $primary;
    color: $bg-light;
    transition: all 0.3s ease-in-out;
}

.btn-color-login:hover {
    background-color: $primary-hover;
    color: $bg-light;
}

.btn-secondary-custom {
    background-color: $button-secondary !important;
    color: $white !important;
}

.btnUpScreen {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: $button-secondary;
    border: none;
    border-radius: 5px;
    rotate: 90deg;
}

.btnRestart {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 1000;
    //background-color: $button-secondary;
    border: none;
    border-radius: 5px;
    background-color: $button-secondary;
    color: white;
}

/* Header de color azul de las cards */ 
.card .card-header {
    color: white;
    background-color: $primary;
    position: relative;
}

.bg-blue {
    background-color: $primary;
    color: white;
}


/*  Boton de cerrar de color rojo del modal */ 
.btn-custom-close{
    position: absolute;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 2px;
}