/*
   Estilos de los colores de los botones
*/
@import 'variables';

.button-save:hover,
.button-save:focus{
   background-color: $primary;
   color: white;
}

.button-next:hover,
.button-next:focus{ 
   background-color: $primary;
   color:white;
}

.button-previos:hover, 
.button-previos:focus{
   background-color: #B04759;
      color:white;
}
.button-add:hover, .button-add:focus{
   background-color: $primary;
   color: white;
}

.button-edit:hover .fa-circle-plus,
.button-edit:focus .fa-circle-plus,
.button-edit:hover,
.button-edit:focus { 
    background-color: #17749F;
    color: white; 
}
.button-editt:hover,
.button-editt:focus { 
    background-color: #17749F;
    color: white; 
}

.button-eliminar:hover,
.button-eliminar:focus {
    background-color: #bb3c3c88;
    color: white; 
}

.button-change:hover,
.button-change:focus { 
    background-color: #17749F;
    color: white; 
}
//  style="background-color: #17749F;"   color azul chido