/*
   Estilos de los colores de los botones
*/
@import 'variables';

.button-save:hover,
.button-save:focus{
   background-color: #007F73;
   color: white;
}
.button-saveMS:hover,
.button-saveMS:focus{
   background-color: #007F73;
   color: white;
}
//4CCD99
.button-next:hover,
.button-next:focus{ 
   // text-shadow: 1px 1px 1px rgb(53, 112, 189);
   background-color: #265073;
   color:white;

}

.button-cancel:hover, .button-cancel:focus{
   // text-shadow: 1px 1px 1px rgb(53, 112, 189);
   background-color: #B04759;// B80000
      color:white;
}
.button-add:hover, .button-add:focus{
   // text-shadow: 1px 1px 1px rgb(53, 112, 189);
  // background-color: rgba(34, 145, 102, 0.952);
   background-color: #007F73;
   color: white;
}

.button-edit:hover .fa-circle-plus,
.button-edit:focus .fa-circle-plus,
.button-edit:hover,
.button-edit:focus { 
    background-color: #17749F;
    color: white; 
}
.button-editt:hover,
.button-editt:focus { 
    background-color: #17749F;
    color: white; 
}

.button-eliminar:hover,
.button-eliminar:focus {
    background-color: #bb3c3c88;
    color: white; 
}

.button-change:hover,
.button-change:focus { 
    background-color: #17749F;
    color: white; 
}
//  style="background-color: #17749F;"   color azul chido