// Variables
@import "variables";
// Estilos de los botones y de los tooltips
@import "Buttons";

.toggle {
    background: #eee;
    width: 50px;
    height: 25px;
    padding: 5px;
    border-radius: 50px;
}

.label-check {
    width: 16px;
    height: 16px;
    background: $blue-sec;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.25s ease 0s;
}

input {
    display: none;
}

input:checked + .label-check {
    margin-left: 25px;
    background: $primary;
}

.btn_warning {
    background: transparent;
    border: none;
}
// .top-content{
//    // margin-top: -30px !important;
//    margin-top: 0;
// }

/* Fondo modal: negro con opacidad al 50% */
.modal {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: none; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.contenido-modal {
  position: relative; /* Relativo con respecto al contenedor -modal- */
  border-radius: 6px;
  background-color: white;
  margin: auto; /* Centrada */
  width: 60%;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s
}

/* Animación */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animarsuperior {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Botón cerrar */
.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Custom Badges */

.badge-custom{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.badge-custom-warning {
    background-color: #FF661A;
}

.badge-custom-danger {  
    background-color: #FF0000;
}

.badge-custom-moderade {
    background-color: #5a5a5a;
}

.badge-custom-success {
    background-color: #0AA760 ;
}

.h-avatar-imc{
  max-height: 120px;

}