// Variables
@import "variables";
// Estilos de los botones y de los tooltips
@import "Buttons";

.toggle {
    background: #eee;
    width: 50px;
    height: 25px;
    padding: 5px;
    border-radius: 50px;
}

.label-check {
    width: 16px;
    height: 16px;
    background: $blue-sec;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.25s ease 0s;
}

input {
    display: none;
}

input:checked + .label-check {
    margin-left: 25px;
    background: $primary;
}

.btn_warning {
    background: transparent;
    border: none;
}

/* Botón cerrar */
.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Custom Badges */

.badge-custom{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.badge-custom-warning {
    background-color: #FF661A;
}

.badge-custom-danger {  
    background-color: #FF0000;
}

.badge-custom-moderade {
    background-color: #5a5a5a;
}

.badge-custom-success {
    background-color: #0AA760 ;
}

.h-avatar-imc{
  max-height: 120px;

}