@import 'variables';

/* Header de color azul de las cards */ 
.card .card-header {
    color: white;
    background-color: $primary;
    position: relative;
}

/* Color de las cards */
.bg-blue {
    background-color: $primary;
    color: white;
}

/* Styles for input form*/



/* Asterisco de color rojo que indica campo obligatorio */
.red-color{
    color: $red;
}

.Cont-edit:hover{
    cursor: pointer;
}

.Shadown-Icon{
     filter:drop-shadow(1px 1px 3px #888)

}
/* ocultar el contenedor de l aimportancia de la seguridad en moviles */ 
@media (min-width: 481px) and (max-width: 767px) {
 .cont-info{
    display: none;
 }
}


