
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

// Variables
@import "variables";
// Estilos de los botones y de los tooltips 
@import "buttons";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

.cont-principal {
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
}

.avatar{
    background-size: cover; 
    background-position: center;
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    border: 1px solid #b1b1b1;
    cursor: pointer;   
}
/* Imagen segun el rol del usuario*/ 
.avatar-Doctor{
   
    background-image: url('/public/images/doctor_1.png');  
}

.avatar-Pasante-m{
   
    background-image: url('/public/images/doctor.png');  
}

.avatar-Nutricion{
    background-image: url('/public/images/Nutricion.png');  

}

