// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

// Variables
@import "variables";
// Estilos de los botones y de los tooltips 
@import "Buttons";
@import "form-style";

.cont-principal{
    background-color: $bg-light;
    padding: 10px;
}
.cont-border{
    border-right:  1px solid gray;
    height: 80%;
}

.title-home{
    font-size: 0.9rem;
    font-weight: 500;
}


.skeleton-charts {
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .skeleton-bar {
        height: 80%;
        width: 100%;
        background-color: white;
        display: grid;
        place-content: center;

        .icon-chart{
            width: 100px;
            height: 100px;
            color: #c5c5c5;
            animation: skeleton 1s infinite alternate;
        }

        
   
    }

    .skeleton-footer {
        height: 20%;
        width: 100%;
        background-color: white;
        display: grid;
        place-content: center;

        p {
            font-size: 1rem;
            text-align: center;
            font-weight: 700;
            color: #616161;
            margin: 0;
        }
    }
}

/* Animación para las barras */
@keyframes skeleton {
    0% {
        color: #c5c5c5;
    }
    100% {
        color: #e0e0e0;
    }
}

