@import 'variables';

.title-size-sm {
    font-size: 1.2rem;
}

.hr-custom {
    border: 1px solid #dadada;
}

label {
    color: $label-color;
    font-weight: 700;
}

.w-custom-checkbox{
    border: 2px solid $label-color !important;
    width: 20px !important;
    height: 20px !important;
}


.max-w-custom{
    width: 100% !important;
}

.shadow-custom{
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2);
}

.required-point{
    color: red; 
}

.tooltip-custom {
    cursor: pointer;

    tool-tip{
        position: absolute;
        width: 150px;
        z-index: 20;
        pointer-events: none;
        user-select: none;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        padding: 0.5rem 1rem;
        border: 2px solid $border-primary;
        font-size: 0.9rem;
        border-radius: 8px;

        top: 33px;

        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $border-primary;
            top: -10px;
            right: 0;
        
        }

        

        &.right{
            right: 0;
        }

        &.left{
            left: 0;
        }
        
        
        background-color: $bg-light;

        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:has( > tool-tip){
        position: relative;
    }

    &:hover > tool-tip{
        opacity: 1;
    }
}

.bg-content-custom{
    background-color: $bg-light !important;
    border-radius: 10px;
}



@media (min-width: 1500px){
    .max-w-custom{
        // min-width: 1400px;
        max-width: 1400px !important;
    }
}