// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";



/* Sidebar Component Styles */
.sideBar-custom {
    width: 280px;
    height: 100vh;
    position: fixed;
    z-index: 50;
    background-color: $primary;
    transition: all 0.3s ease-in-out;
}

.sideBar-custom.compressed #title,
.sideBar-custom.compressed .compressed-text {
    display: none;
}


.bg-custom {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0 !important;
}

/* sidebard minimizado */
.sideBar-custom.collapsed {
    width: 80px;
    /* Ancho del sidebar cuando está colapsado */
}

/* Main Content */
.container-custom {
    margin-left: 300px;
    padding-top: 80px;
    width: calc(100% - 300px);
    /* Ancho del contenedor, restando el espacio ocupado por el sidebar */
    min-height: 100vh;
    /* Altura mínima del contenedor para ocupar al menos el tamaño de la ventana del navegador */
    transition: all 0.3s ease-in-out;
}

.container-custom.container-expanded {
    margin-left: 100px;
    width: calc(100% - 100px);
}

/* sidebard expandido */
.container-custom.expanded {
    margin-left: 220px;
    /* Margen a la izquierda para dejar espacio para el sidebar cuando está expandida */
}

/* Cuando esta minimizada el sidebard */
.container-custom.full-width {
    margin-left: 80px;
    width: calc(100% - 80px);
    /* Resta del ancho de la ventana menos el ancho del sidebar colapsado */
}

/* Header */
.header-content {
    position: fixed;
    margin-left: 220px;
    /* Margen a la izquierda para dejar espacio para el sidebar */
    width: calc(100% - 220px);
    /* Ancho del header, restando el espacio ocupado por el sidebar */
    height: 50px;
    /* Altura del encabezado */
    background-color: rgb(233, 233, 233);
    /* Color de fondo del encabezado */
    z-index: 99;
}

/* Cuando está expandido */
.header-content.expanded {
    margin-left: 220px;
    /* Margen a la izquierda para dejar espacio para el sidebar cuando está expandido */
}

/* Cuando está minimizado el sidebar */
.header-content.full-width {
    margin-left: 80px;
    /* Margen a la izquierda para dejar espacio para el sidebar cuando está minimizado */
    width: calc(100% - 80px);
    /* Ancho del header, restando el espacio ocupado por el sidebar minimizado */
}

/* Titulo del sistema */
.header-custom {
    background-color: $secundary;
    min-height: 70px;
    padding: 0 10px;
}

.bg-primary-custom {
    background-color: $secundary;
}

.border-custom {
    border-bottom: 2px solid $primary;
}

.title-nav-custom {
    font-size: 1.1rem;
}

.text-sm-custom {
    font-size: 1rem;
}

.color-header-nav {
    color: $text-white;
}

.link-custom-nav {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}


/* Section sidebar items */

.sideBar-custom {

    nav {
        ul {
            flex: 1;
            padding: 5px 15px;
            color: $text-white;

            li {
                list-style: none;
                margin-bottom: 8px;
                
                

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    border-radius: 0.6rem;
                    text-decoration: none;
                    padding: 12px 8px;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;


                    .arrow-submenu {
                        width: 25px;
                        height: 25px;
                        transform: rotate(180deg);
                    }

                    .text {
                        flex : 1;
                    }

                    &:hover {
                        background-color: $primary-hover;
                    }

                }

                .submenu{
                        
                        padding: 0px;
                        margin-left: 35px;
                        
                        display: none;
    
                        li{
                            // border-left: 1px solid $text-white;
                            margin: 5px 0px;
                            a{
                                padding-left: 15px;
                                .text{
                                    color: $text-white;
                                }

                                &:hover {
                                    background-color: $primary-hover;
                                }
                            }
                        }
                }

                &.active{
                    a{
                        background-color: $secundary;
                        border-radius: 8px;
                    
                    }
                    
                }

            }

            
        }
    }

}


/* End Section sidebar items */



.icon-logout {
    color: white;
    width: 1.2rem;
    height: 1.2rem;
}


.settings-custom {
    padding: 0px 15px;
    width: calc(100% - 30px);
    height: 40px;
    background-color: #011d48;
    border-radius: 20px;
}

.icons-custom {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.icons-custom-sm {
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.titleView-custom {
    font-size: 1.4rem;
    font-weight: bold;
}


/* General Styles*/
.btn-color-format {
    background-color: $secundary;
    transition: all 0.3s ease-in-out;
}

.btn-color-format:focus {
    background-color: $secundary;
}

.btn-color-format:hover {
    background-color: $primary;
}

.bg-color-opacity {
    background-color: $bg-color-opacity !important;
}

.btn-form-logout {
    color: white;
    width: 30px;
    height: 30px;
}

.modal-hover {
    transition: all 0.3s ease-in-out;
}

.modal-hover:hover {
    background-color: $primary;
    color: $text-white;
}


/* Styles for SideBar and navbar */
#header-custom {
    width: 100%;
    // height: 100vh;
    position: fixed;
    z-index: 99;
}

#navBar {
    padding: 0 20px;
    width: calc(100% - 280px);
    height: 70px;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-light;
    box-shadow: 0px 13px 36px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#navBar.container-expanded {
    width: calc(100% - 80px);
}



#usernameText {
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary;
}

#title {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;

}

.avatar-container {
    background-image: url('/public/images/avatar-c.jpg');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-custom {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.icon-custom {
    width: 20px;
    height: 20px;
    color: #777;
    margin-right: 5px;
}

.icon-custom-lg {
    width: 30px;
    height: 30px;
    color: white;
}

#btnOpenClose {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

#btnOpenClose:hover {
    background-color: $primary;
}

.hamburger-custom-btn {
    width: 35px;
    height: 35px;
    color: $primary;
    cursor: pointer;

}


// Sidebar compressed
.compressed {
    width: 80px;
}




.sideBar-custom.movil-collapse {
    // width: 0px !important;
    left: 0px;
}



/* Media Querys Movil*/

@media (max-width : 768px) {
    .sideBar-custom {
        // width: 0px !important;
        left: -280px;
    }

    .sideBar-custom.compressed {
        left: -80px;
    }

    #navBar {
        width: 100% !important;
    }

    .container-custom.container-expanded {
        margin-left: 0px;
        padding: 0 20px;
        padding-top: 100px;
        width: 100%;
    }

    .container-custom {
        margin-left: 0px;
        padding: 0 20px;
        padding-top: 100px;
        width: 100%;

    }
}