// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

// Variables
@import "variables";
// Estilos de los botones y de los tooltips
@import "buttons";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

.btn-custom-full:hover{
    background-color: $bg-color-opactity-lg;
}

.person-icon {
    font-size: 50px; /* Tamaño deseado para el icono */
    color: #06285c;
}

/* Header de color azul de las cards */ 
.card .card-header {
    color: white;
    background-color: $primary;
    position: relative;
}

.bg-blue {
    background-color: $primary;
    color: white;
}
/*  Boton de cerrar de color rojo del modal */ 
.btn-custom-close{
    position: absolute;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 2px;
}

/* Asterisco de color rojo que indica campo obligatorio */
.red-color{
    color: $red;
}

.cont-user-data{
    border-radius: 10px;
    border: 1px solid #dad8d8;
    padding: 10px 0px;
    margin-left: 15px;
    margin-right: 20px;
    background-color: #f8f8f8 ;

} 







