@import "variables";

.btn-custom-full:hover{
    background-color: $bg-color-opactity-lg;
}

.person-icon {
    font-size: 50px; /* Tamaño deseado para el icono */
    color: #06285c;
}

/*  Boton de cerrar de color rojo del modal */ 
.btn-custom-close{
    position: absolute;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 2px;
}


.cont-user-data{
    border-radius: 10px;
    border: 1px solid #dad8d8;
    padding: 10px 0px;
    margin-left: 15px;
    margin-right: 20px;
    background-color: #f8f8f8 ;

} 

/* Imagenes de la tabla */ 

/* Imagen segun el rol del usuario*/ 

.config-avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $bg-color-opactity-md;
    background-size: cover;
    background-position: center;
    // cursor: pointer;

    &.avatar-doctor{
        background-image: url('/public/images/icon-doctor.png');  
    }

    &.avatar-pasante{
        background-image: url('/public/images/icon-pasante.png');  
    }

    &.avatar-nutrition{
        background-image: url('/public/images/icon-nutrition.png');  
    }
}







